<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scau.internshipsystem.system.mapper.InternshipMapper">
    <select id="getInternshipForUpdate" resultType="org.scau.internshipsystem.system.entity.Internship" parameterType="int">
        select * from internship where id = #{id} for update
    </select>
</mapper>
